*.iml
*.eggs
*.pyc
*.so
*.swp
*.lib
*.o

*.egg-info
build
.cache
.coverage
coverage.xml
dist
docs/*.rst
examples/data
htmlcov
.idea
.ipynb_checkpoints
junit-*.xml
src
_build

/htmlcov/
/src/
brainiak_extras/__pycache__/
brainiak_extras/tda/__pycache__/
tests/tda/__pycache__/
var/
